@import '@/assets/scss/_variables.scss';

.default-layout {
    position: relative;
    min-height: 100vh;
    background-color: $colorGrey50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
